@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/* Container for Soccer */
.containersoccer {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr 4fr 1fr;
    grid-template-rows: auto auto;
    width: 100%;
}

/* Home Team */

.boxhometeam {
    display: grid;
    align-items: center;
    grid-column: 2/2;
    grid-row: 1 / 1;
    background: #66013d;
    color: #daa03d;
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    position: relative;
    border-left: solid 1vw #daa03d;
}

.boxhometeam::before {
    content: "";
    position: absolute;
    left: -10vw;
    /* Adjust this value to move the logo closer */
    width: 10vw;
    height: 10vw;
    background: url(https://rs140101.github.io/lasespadasscoreboard/logos/escudo%20espadas.PNG) no-repeat center;
    background-size: cover;
}

/* Home Points */
.boxhomepoints {
    grid-column: 3 / 3;
    grid-row: 1 / 1;
    text-align: center;
    background: #cfc9d0;
    color: #daa03d;
    font-size: 5vw;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    border-left: solid 1vw #daa03d;
}

/* Space (Separator) */
.space {
    grid-column: 4 / 4;
    grid-row: 1 / 1;
    text-align: center;
    background: #cfc9d0;
    color: #daa03d;
    font-size: 5vw;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
}

/* Away Points */
.boxawaypoints {
    grid-column: 5 / 5;
    grid-row: 1 / 1;
    text-align: center;
    background: #cfc9d0;
    color: #daa03d;
    font-size: 5vw;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    border-right: solid 1vw #daa03d;
}

/* Away Team */
.boxawayteam {
    display: grid;
    align-items: center;
    grid-column: 6 / 6;
    grid-row: 1 / 1;
    text-align: center;
    background: #66013d;
    color: #daa03d;
    font-size: 5vw;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    position: relative;
    border-right: solid 1vw #daa03d;
}

.boxawayteam:before {
    content: "";
    position: absolute;
    right: -10vw;
    width: 8vw;
    height: 8vw;
    background: url(https://rs140101.github.io/lasespadasscoreboard/logos/PROM%205B.png) no-repeat center;
    background-size: cover;

    /*
    https://rs140101.github.io/lasespadasscoreboard/logos/PROM%201%20Y%202.png
    https://rs140101.github.io/lasespadasscoreboard/logos/PROM%2010.png
    https://rs140101.github.io/lasespadasscoreboard/logos/PROM%2011A.png
    https://rs140101.github.io/lasespadasscoreboard/logos/PROM%2011B.png
    https://rs140101.github.io/lasespadasscoreboard/logos/PROM%203.png
    https://rs140101.github.io/lasespadasscoreboard/logos/PROM%204.png
    https://rs140101.github.io/lasespadasscoreboard/logos/PROM%205A.png
    https://rs140101.github.io/lasespadasscoreboard/logos/PROM%205B.png
    https://rs140101.github.io/lasespadasscoreboard/logos/PROM%207.PNG
    https://rs140101.github.io/lasespadasscoreboard/logos/PROM%208.png
    https://rs140101.github.io/lasespadasscoreboard/logos/PROM%209.png
    */


}

/* Timer */
.boxtimer {
    grid-column: 3/5;
    grid-row: 2 / 2;
    text-align: center;
    background: #333333;
    color: #daa03d;
    font-size: 5vw;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
}

/* Half-time */
.boxmoment {
    grid-column: 5/5;
    grid-row: 2 / 2;
    text-align: center;
    background: #333333;
    color: #daa03d;
    font-size: 5vw;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
}

/* General Styles */
.containersoccer div {
    margin: 0;
}