@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/* Container for Soccer */
.containersoccer {
    display: grid;
    border: #daa03d;
    border-style: dotted;
    grid-template-columns: 5vw 15vw 3vw 3vw 3vw 15vw 5vw;
    grid-template-rows: auto auto;
    width: 100%;
}

/* Home Team */

.boxhometeam {
    grid-column: 2/2;
    grid-row: 1 / 1;
    background: #66013d;
    color: #daa03d;
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    position: relative;
}

.boxhometeam::before {
    content: "";
    position: absolute;
    left: -5vw;
    /* Adjust this value to move the logo closer */
    width: 5vw;
    height: 5vw;
    background: url(https://rs140101.github.io/lasespadasscoreboard/logos/escudo%20espadas.PNG) no-repeat center;
    background-size: cover;
}

/* Home Points */
.boxhomepoints {
    grid-column: 3 / 3;
    grid-row: 1 / 1;
    text-align: center;
    background: #66013d;
    color: #daa03d;
    font-size: 3vw;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
}

/* Space (Separator) */
.space {
    grid-column: 4 / 4;
    grid-row: 1 / 1;
    text-align: center;
    background: #66013d;
    color: #daa03d;
    font-size: 3vw;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
}

/* Away Points */
.boxawaypoints {
    grid-column: 5 / 5;
    grid-row: 1 / 1;
    text-align: center;
    background: #66013d;
    color: #daa03d;
    font-size: 3vw;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
}

/* Away Team */
.boxawayteam {
    grid-column: 6 / 6;
    grid-row: 1 / 1;
    text-align: center;
    background: #66013d;
    color: #daa03d;
    font-size: 3vw;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    position: relative;
}

.boxawayteam:before {
    content: "";
    position: absolute;
    right: -5vw;
    /* Adjust this value to move the logo closer */
    width: 4vw;
    height: 4vw;
    background: url(https://rs140101.github.io/lasespadasscoreboard/logos/verdeamarella.png) no-repeat center;
    background-size: cover;

}

/* Timer */
.boxtimer {
    grid-column: 3/5;
    grid-row: 2 / 2;
    text-align: center;
    background: #66013d;
    color: #daa03d;
    font-size: 3vw;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
}

/* Half-time */
.boxmoment {
    grid-column: 5/5;
    grid-row: 2 / 2;
    text-align: center;
    background: #66013d;
    color: #daa03d;
    font-size: 3vw;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
}

/* General Styles */
.containersoccer div {
    margin: 0;
}